@CHARSET "UTF-8";
{% load static %}
/****************************************************
					Common
*****************************************************/
html, body{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	font-family: 'Harmonia Sans', 'Helvetica Neue', sans-serif;
}

h1{
	font-family: 'Source Sans Pro', inherit;
}
h2, h3, h4, p{
	font-family: 'Montserrat', inherit;
}
.hidden_first{
	display: none;
}
/******************************************************
					Header
*******************************************************/
@media screen and (max-width:700px){
	.fr_menu_all{
		display:none;
	}
}
@media screen and (min-width:700px){
	.fr_menu_icon{
		display:none;
	}
	.menu_nav{
		display:none;
	}
}
.header{
	height: 60px;
	width:100%;
	max-width:1600px;
	background-color: #33BB77;
}
.go_home{
	cursor: pointer;
} 
.fl{
	float: left;
}
.fl img{
	float:left;
	margin-top: 10px;
	margin-left: 50px;
	max-width : 80px;
}

.fr{
	float: right;
}

.fr ul {
    list-style-type: none;
    padding-top:5px;
    padding-right:100px;
    overflow: hidden;
}

.fr li{
	float: left
}
.fr li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

/* Change the link color to #111 (black) on hover */
.fr li a:hover {
    color: #EC8408 !important;
}
.fr #menu_icon{
	transform: translate(-50%, -50%) rotate(90deg);
  	font-size: 20px; 
  	color:#fff;
	letter-spacing: 4px;
	margin-top: 34px;
	cursor: pointer;
}

.menu_nav{
	width: 100%;
	max-width:1800px;
	border-bottom: 0.9px #33BB77 solid;
}
.menu_nav a{
	text-decoration: none !important;
	color: #777;
	font-size: 15px;
}
.menu_nav_content{
	padding: 10px;
}
.menu_nav .menu_nav_content:hover a{
	color: #FF8D6A;
	font-weight: bold;
}
/******************************************************
					Main
*******************************************************/
.register_main{
	padding-top: 30px;
}
.login_area,.non_login_area{
	padding:30px 30px 30px 30px;
}

.btn_login{
	margin-top: 20px;	
}

#btnFbLogin{
	opacity:0.9;
	border-radius: 0;
	color : #FFFFFF !important;
	background-color: #0f45af !important;
	border-color: #0f45af !important;
	box-sizing : border-box;
	border: 1px solid;
	text-alien:center;
	display: inline-block;
	padding : 0.3em 1.0em;
	width : 220px;
	height : 44px;
	cursor: pointer;
}
#btnFbLogin:hover{
	opacity:1	
}	
.naver_id_login{
	opacity: 0.9
}
.naver_id_login:hover{
	opacity: 1
}
#naver_id_login img{
	width : 220px;
	height : 44px;
}
.title{
	font-size: 1.5em;
	color: #4f4f4f;
}
.content{
	padding-top: 30px;	
}
.content .control-group{
	margin-bottom: 20px;
}
.btn_rapper button{
	opacity:0.9;
	border-radius: 0;
	color : #FFFFFF !important;
	background-color: #33BB77 !important;
	border-color: #33BB77 !important;
	box-sizing : border-box;
	border: 2px solid;
	text-alien:center;
	display: inline-block;
	padding : 1em 1.75em;
	width : 240px;
	height : 54px;
}

.btn_rapper button:hover{
	opacity: 0.7;	
}