@CHARSET "UTF-8";
{% load static %}
/****************************************************
					Common
*****************************************************/
html, body{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}
.container{
	width: 100%;
}

h1{
	font-family: 'Source Sans Pro', inherit;
}
h2, h3, h4, p{
	font-family: 'Montserrat', inherit;
}

/******************************************************
					Header
*******************************************************/

.header{
	height: 8%;
	min-height: 90px;
	max-height: 200px;
	background-color: #33BB77;
}

.go_home{
	cursor: pointer;
} 
.fl{
	float: left;
}
.fl img{
	position : absolute;
	top : 18px;
	left : 100px;
	max-width : 8%;
	height : auto;
	width : auto\11;
}

.fr{
	float: right;
	padding-top: 20px;
	padding-right: 100px;
}

.fr ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.fr li{
	float: left
}
.fr li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2em;
}

/* Change the link color to #111 (black) on hover */
.fr li a:hover {
    color: #EC8408 !important;
}



/******************************************************
					Main
*******************************************************/
.register_main{
	margin-top: 3%;
	color: #9c9c9c;
	font-size: 1.2em;
}
.register_main .title{
}
.register_content{
	margin-top: 3%;
}
.register_content div{
	margin-top: 1%;
}
.register_nm{
	color : #FF8D6A;
	font-size : 1.3em;
	font-weight: bold;
}
input[type="text"]{
	letter-spacing: normal;
	word-spacing: normal;
	text-indent: 0px;
	text-shadow: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
	-webkit-appearance:none;
}
.register_content .hidden_first{
	display: none;
}
.register_content input[type="text"],input[type="number"]{
	color : #FF8D6A;
	margin: 0px 14px 0px 14px;
	padding: 1px 1px 4px 4px;
	padding-bottom: 6px;
	border-width: 0;
	border-bottom: 0.9px #919191 dotted;
	outline:none;
	box-shadow:none;
	font-size: 26px;
	font-weight: bold;
	text-align: center;
}
.register_content input:focus{
	border-bottom: 0.9px #ffb099 dotted;
}
.register_content #txtDogNm{
	width: 220px;
}
.register_content #txtDogAge{
	width: 50px;
}
.register_content #txtDogSex{
	width: 120px;
}
.register_content #txtDogWeight{
	width: 90px;
}
.register_info_item{
	margin-top: 4%;
}


/* Dropdown Button */
.drop_btn {
    color: #FF8D6A;
    font-size: 1.3em;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 10px;
    background-color : white;
    border-bottom: 0.9px #ffb099 dotted;
    outline:none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
	margin: 0px 14px 0px 14px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #999999;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ffdcd2}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .drop_btn {
    background-color: #ffdcd2;
}

.select-arrow{
	border-color:#999 transparent transparent;
	border-style: solid;
	border-width: 5px 5px 2.5px;
	display: inline-block;
	height:0;
	width:0;
	margin: 0px 0px 0px 5px;
}

.row .food_info_dtl:nth-child(odd){
	background-color: #e3e3e3;
}

input[type=checkbox]{
	color: #ffb099;	
}

#food_info_area{
	margin-top : 60px;
	height: 300px;
	width: 600px;
	border: 0px solid;
	border-radius: 10px;
	
}

.food_info_dtl{
	width: 28%;
	margin-left:10px;
	margin-right:10px;
	height:300px;
	border: 1px solid #e2e2e2;
	cursor: pointer;
}

.food_info_dtl.selected{
	border: 1px solid #ffb19b;
}
.food_info_dtl.selected div{
	color: #ff8d6c; 
}
.food_info_dtl:not(.selected):hover{
	border: 1px solid #000;
}
.food_info_dtl:not(.selected) div:hover{
	color: #5f5f5f; 
}
.food_info_dtl .food_img_area{
	position:relative;
	margin: 20px auto;
	margin-top: -25px;
	width:90px;
	height:50px;
	background-color: white;
}
.food_info_dtl .food_img_area img{
	width:4em;
	height:3em;
}
.food_info_dtl .food_info_dtl_expl{
	margin-top: 20px;
}

.food_info_dtl .food_info_dtl_ingredients{
	margin-top:30px;
	line-height: 2em;
}

.btn_rapper button{
	margin-top: 30px;
	opacity:0.9;
	border-radius: 0;
	color : #FFFFFF !important;
	background-color: #33BB77 !important;
	border-color: #33BB77 !important;
	box-sizing : border-box;
	border: 2px solid;
	text-alien:center;
	outline:none;
	display: inline-block;
	padding : 1em 1.75em;
	width : 240px;
	height : 54px;
}
.btn_search{
	margin: 10px auto;
	cursor: pointer;
	opacity: 0.7;
}
.btn_search:hover{
	opacity: 1;
}

.btn_rapper button:hover{
	opacity: 0.7;	
}

.loader {
  color: #33BB77;
  font-size: 5px;
  margin: auto;
  position: relative;
  top:40px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}


.footer{
	height: 30px;
}